<h3>Artist Info</h3>

<h4 class="center-text">
  Name: <span class="italic-text"><%= @artist.name %></span>
</h4>

<table>
  <tr>
    <th>ID</th>
    <th>Album Title</th>
    <th>Stock Level</th>
  </tr>

  <% for album in @albums %>
    <tr>
      <td><%= album.id %></td>
      <td class="italic-text"><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
      <td class="center-text"><%= album.stock_level %></td>
    </tr>
  <% end %>

</table>

<a href="./<%= @artist.id %>/edit">Edit</a>
<a href="./<%= @artist.id %>/delete_are_you_sure">Delete</a>
