<a class="left-side italic-text" href="../inventory">back to Inventory</a>

<h3 class="no-bottom-space top-space">Artist Info</h3>

<h4 class="center-text no-bottom-space">
  Name: <span class="italic-text"><%= @artist.name %></span>
</h4>

<% if @albums.length() > 1 %>

  <table>
    <tr>
      <th>ID</th>
      <th>Album Title</th>
      <th>Stock Level</th>
    </tr>

    <% for album in @albums %>
      <tr>
        <td><%= album.id %></td>
        <td class="italic-text"><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
        <td class="center-text
                  <%= $stock_style_classes[album.stock_level] %>">
                  <%= album.stock_level %>
        </td>
      </tr>
    <% end %>

  </table>

<% else %>

  <p>No Albums in stock.</p>

<% end %>

<section class="flex_item_compact">
<a class="big_link no_underline" href="./<%= @artist.id %>/edit">Edit</a>
<a class="big_link no_underline" href="./<%= @artist.id %>/delete_are_you_sure">Delete</a>
</section>
