<h3 class="no-bottom-space">Inventory</h3>

<form method="post"  action="inventory/order">
  <select name="field" id="field">
    <option value="title">Album Title</option>
    <option value="artist_id">Artist</option>
    <option value="quantity">Stock Level</option>
  </select>
  <input type="submit" value="Go">
</form>

<table class="big-table">

  <tr>
    <th>ID</th>
    <th>Album Title</th>
    <th>Artist</th>
    <th>Markup %</th>
    <th>Stock Level</th>
    <th></th>
  </tr>

  <% for album in @albums %>
    <tr>
      <td><%= album.id %> </td>
      <td class="italic-text">
        <a class="no-underline" href="/albums/<%= album.id %>"><%= album.title %></a>
      </td>
      <td><a href="/artists/<%= album.artist_id %>"><%= Artist.find_by_id(album.artist_id).name %></a></td>
      <td class="center-text"><%= album.markup %></td>
      <td class="center-text"><%= album.stock_level %></td>
      <td class="center-text"><a href="/albums/<%= album.id %>">More Info</a></td>
    </tr>

  <% end %>

</table>
